div {
    font-family: 'Arial';
    background-color: #2ba568;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.green_box {
    box-shadow: 0px 0px 1px black;
    -webkit-transition-duration: 0.3s;
}

.green_box:hover {
    box-shadow: 2px 3px 3px black;
}