body {
    background: #0C1022;
}

div {
    font-family: 'Arial';
    background-color: #2ba568;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.caja:hover {
    -webkit-animation: 1s balanceo 1;
    
}

@-webkit-keyframes balanceo {
    20% {
        -webkit-transform: scale(0.7) rotate(-6deg);
    }
    30%, 70% {
        -webkit-transform: scale(1.1) rotate(6deg);
    }
    50%, 90% {
        -webkit-transform: scale(1.1) rotate(-6deg);
    }
}
